<div class="container" *ngIf="post">
  <div class="col-md-7">
    <div class="social-feed-box">
      <div class="social-avatar">
        <a href="" class="pull-left">
          <app-profile-picture
            [ownerId]="post.ownerId"
            [initials]="getInitials(post.firstName, post.lastName)"
          ></app-profile-picture>
        </a>
        <div class="media-body">
          <a href="#">
            {{ post.firstName + " " + post.lastName }}
          </a>
          <small class="text-muted">{{ post.creationDate}}</small>
        </div>
      </div>
      <div class="social-body">
        <p [innerHTML]="post.text | linky">
        </p>
        <img
          *ngIf="post.image"
          [src]="post.image"
          class="img-responsive"
        />
        <div class="btn-group">
          <button class="btn btn-white btn-xs" (click)=" isLiked() ? removeReaction() : like()">
            <i
              class="fa fa-thumbs-up"
              [style.color]="isLiked() ? 'green' : 'black'"
            ></i>
            Like {{ getNumOfLikes() }}
          </button>
          <button class="btn btn-white btn-xs"  (click)=" isDisliked() ? removeReaction() : dislike()">
            <i
              class="fa fa-thumbs-down"
              [style.color]="isDisliked() ? 'red' : 'black'"
            ></i>
            Dislike {{ getNumOfDislikes() }}
          </button>
        </div>
      </div>
      <div class="social-footer">
        <div class="social-comment" *ngFor="let comment of post.comments">
          <a href="" class="pull-left">
            <app-profile-picture
              [ownerId]="comment.ownerId"
              [initials]="getInitials(comment.firstName, comment.lastName)"
            ></app-profile-picture>
          </a>
          <div class="media-body">
            <a href="#">
              {{ comment.firstName + " " + comment.lastName }}
            </a>
            <br />
            {{ comment.text }}
            <br />
          </div>
        </div>
        <div class="social-comment">
          <form class="comment-section" [formGroup]="commentForm">
            <textarea
              class="form-control"
              placeholder="Write comment..."
              formControlName="text"
            ></textarea>
            <button class="fadeIn fourth send-button" (click)="createComment()">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
