<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form #credentials="ngForm">
      <input type="text" id="login" class="fadeIn second" name="firstName" placeholder="first name" ngModel>
      <input type="text" id="login" class="fadeIn second" name="lastName" placeholder="last name" ngModel>
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="email" ngModel>
      <input type="text" id="login" class="fadeIn second" name="phoneNumber" placeholder="phone number" ngModel>
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" ngModel>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" ngModel>
      <input type="submit" class="fadeIn fourth" value="Sign up" (click)="registerUser(credentials)">
    </form>
  </div>
</div>
