<div class="container">
  <div class="row">
  <div class="col-md-5">
  <div class="well">
    <div class="experience-title">
      Experience
    </div>
   <form role="form" style="padding:14px;" [formGroup]="experienceForm" class="form-horizontal dialog-form">

     <div  class="form-group">
      <label>Institution</label>
      <input placeholder="" formControlName="institution" class="form-control"/>
    </div>
    <div  class="form-group">
      <label>Position</label>
      <input placeholder="" formControlName="position" class="form-control"/>
    </div>
    <div  class="form-group">
      <label>From</label>
      <input type="date" placeholder="" formControlName="fromDate" class="form-control"/>
    </div>
    <div  class="form-group">
      <label>To</label>
      <input type="date" placeholder="" formControlName="toDate" class="form-control"/>
    </div>
    <div  class="form-group">
      <label>Description</label>
      <textarea placeholder="" formControlName="description" class="form-control"></textarea>
    </div>
     <button type="button" class="btn btn-primary pull-right" (click)="close()">Close</button>
     <button type="submit" class="btn btn-success pull-right" (click)="passBack()">Post</button>

  </form>
  </div>
  </div>
  </div>
  </div>
