<div class="wrapper fadeInDown" *ngIf="tokenValid">
    <div id="formContent">
        <form [formGroup]="recoveryForm">
            <input (input) = "checkPass()" type="password" id="password1" class="fadeIn second" name="newPassword" placeholder="new password"
                formControlName="newPassword" />
            <em class="bi bi-eye-slash" id="togglePassword1" (click)="togglePass('password1','togglePassword1')"></em>
            <div *ngIf="isValid(f.newPassword)" class="alert alert-danger">
                <div *ngIf="f.newPassword.errors?.required">
                    Password is required.
                </div>
                <div *ngIf="f.newPassword.errors?.whiteSpace">
                    Password must not contain Whitespaces.
                </div>
                <div *ngIf="f.newPassword.errors?.containsUppercase">
                    Password must have at least one Uppercase Character.
                </div>
                <div *ngIf="f.newPassword.errors?.containsLowercase">
                    Password must have at least one Lowercase Character.
                </div>
                <div *ngIf="f.newPassword.errors?.containsNumber">
                    Password must contain at least one Digit.
                </div>
                <div *ngIf="f.newPassword.errors?.containsSimbol">
                    Password must contain at least one Special Symbol.
                </div>
                <div *ngIf="f.newPassword.errors?.validLengthPass">
                    Password must be at least 10 Characters Long.
                </div>
            </div>
            <div *ngIf="passwordError" class="alert alert-danger">
                {{passwordError}}
            </div>
            <div *ngIf="passwordStrength" id= "strenght" [class] = "strengthClass">
                {{passwordStrength}}
            </div>
            <input type="password" id="password2" class="fadeIn third" name="repeatedNewPassword"
                placeholder="repeated new password" formControlName="repeatedNewPassword" />
            <em class="bi bi-eye-slash" id="togglePassword2" (click)="togglePass('password2', 'togglePassword2')"></em>
            <div *ngIf="confirmPasswordError" class="alert alert-danger">
                {{confirmPasswordError}}
            </div>
            <input type="submit" class="fadeIn fourth" value="Change password" (click)="changePassword()" />
        </form>
    </div>
</div>

<h1 *ngIf="!tokenValid" class="activationMessage">Activation link invalid! <br/></h1>