
.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.search-bar {
  margin-top: 20px;
  max-width: 800px;
  display: flex;

}


.input-text {
  min-width: 200px;
}

.profiles-container {
  margin-left: 8%;
  margin-right: 8%;
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
}

app-profile-card {
  margin: 10px;
}
