<div class="component-container">
  <h2>User Search</h2>
  <form [formGroup]="searchForm">
    <div class=" search-bar">
      <input
        type="text"
        class="form-control input-text"
        placeholder="First Name"
        formControlName="firstName"
      />
      <input
        type="text"
        class="form-control input-text"
        placeholder="Last Name"
        formControlName="lastName"
      />
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" (click)="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  </form>
  <hr class="w-100 half-margins" />
  <div class="profiles-container">
    <app-profile-card [profile]="profile" [userId]="profile.id" *ngFor="let profile of profiles"></app-profile-card>
  </div>
</div>
